<div class="_css_container">
  <ng-un-slider *ngIf="dataSource?.length"
              [dataSource]="dataSource" 
              [config]="rSliderConfig"
              (outputDataSource)="outputdataSource = $event;"
              (onChangeDetection)="OnChangeDetection()"
              [class]="'_css_margin--top-md'"
              #slider>
      <ng-container header>
          <span class="_css_carousel__header">
              კომპანიები
              </span>
      </ng-container>
      <ng-container body>
          <a  *ngFor="let sliderItem of outputdataSource" 
              class="_css_p-right--md _css_p-left--md _css_position-r _css_display__b">
            <img style="width: 200px; height: 150px;" [src]="sliderItem.src" alt="image not found" class="_css_size-w--full _css_size-h-max--200 ">
          </a>
      </ng-container>
  </ng-un-slider>
  
</div>
