._css_container {
    position: relative;
    width: 810px;
    max-width: 810px;
    height: auto;
  }
  
  ._css_margin {
    &--top-md {
      margin-top: 50px;
    }
  }
  
  ._css_carousel {
      padding-top: 10px;
      position: relative;
      padding-bottom: 30px;
      margin-bottom: 20px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.18);
      &__wrap1{
        width: 20%;
        display: inline-block;
        vertical-align: top;
        height: 100%;
        position: relative; 
      }
      &__wrap {
        padding: 0 3px;
        width: 16.18%;
        position: relative;
        min-width: 16.18%;
        &:hover {
          ._css_carousel__overlay {
            opacity: 1;
          }
        }
      }
      &__scroll {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -khtml-touch-action: manipulation;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        position: relative;
        height: 100%;
        width: 100%;
        overflow-x: auto;
        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
      }
      &__item {
        display: flex;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        &-title {
          max-height: 38px;
          font-weight: 600;
          overflow: hidden;
          font-size: 11px;
          padding-top: 10px;
          white-space: normal;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          color: rgba(17, 17, 17, 0.68);
          font-family: "c4c-mtavr", sans-serif;
        }
        &-desc {
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 12px;
          padding-top: 10px;
          color: rgba(17, 17, 17, 0.6);
          font-family: "c4c-low", sans-serif;
        }
        &-img {
          width: 100%;
          position: relative;
          img {
            width: 100%;
          }
        }
      }
      &__content {
        display: flex;
      }
      &__header {
        height: 50px;
        display: flex;
        font-size: 18px;
        font-weight: bold;
        padding-left: 3px;
        align-items: center;
        font-family: "c4c-mtavr", sans-serif;
      }
      &__arrow {
        top: 0;
        z-index: 2;
        width: 20px;
        height: 100%;
        display: flex;
        color: #8bc34a;
        cursor: pointer;
        position: absolute;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
        background: rgba(90, 90, 90, 0.03);
        &--left {
          left: 6px;
          font-size: 20px;
          position: absolute;
        }
        &--right {
          right: 3px;
          font-size: 20px;
          position: absolute;
        }
        &:hover {
          background: rgba(90, 90, 90, 0.11);
        }
      }
      &__overlay {
        left: 0;
        z-index: 1;
        opacity: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        overflow: hidden;
        position: absolute;
        transition: all 0.5s ease;
        background: rgba(0, 0, 0, 0.3);
      }
    }
    
    ._css_p {
      &-right {
        &--sm {
          padding-right: 5px;
        }
    
        &--md {
          padding-right: 10px;
        }
      }
    
      &-left {
        &--sm {
          padding-left: 5px;
        }
    
        &--md {
          padding-left: 10px;
        }
      }
    
      &-bottom {
        &--sm {
          padding-bottom: 5px;
        }
    
        &--md {
          padding-bottom: 10px;
        }
      }
    }
  
    
  ._css_position {
      &-r {
        position: relative;
      }
    }
  
    ._css_display {
      &__b {
        display: block;
      }
      &__flex{
        display: flex
      }
    }
  
    ._css_size{
      &-vw{
          &--full{
              width:100vw; 
          }
      }
      &-w{
          &--full{
              width:100%; 
          }
      }
      &-h{
          &-max{
              &--200{
                  max-height: 200px
              }
          }
      }
  }
  
  ._cs_slider {
      position: relative;
      overflow: hidden;
      z-index: 1;
      width: 100%;
      height: auto;
      display: block;
      &__container {
          touch-action: pan-y;
          position: relative;
          height: 100%;
          top:0;
          transform: translateX(100%);
          left:0;
          font-size: 0;
          &.trans{
            transition: .3s;
          }
          &__item {
              display: inline-flex;
              overflow: hidden;
              vertical-align: top;
              height: 100%;
              position: relative;
            }
        }
  }
  ._css_flex_full{
      height: auto; 
      width: 100%; 
      display: flex;
  }
  
.right_none {
    right: 0;
  }
  
  